<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>


  <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> ago | <%=link_to 'Fix this Post',edit_post_path %> | <%=link_to 'Trash this Post',post_path,:method => :delete,:data=>{confirm: 'Are you sure'} %>
  </p>

  <p class="body">
    <%= simple_format @post.content %>
  </p>
</div>